*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 8rem;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 0.1rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

/* Not Allowed Effect Over Hover */
.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.board.x .cell:hover {
}

/* Creating the X */
.cell.x::before,
.cell.x::after,
.board.x .cell:hover::before,
.board.x .cell:hover::after {
  content: '';
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
  position: absolute;
}

.cell.x::before,
.board.x .cell:hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover::after {
  transform: rotate(-45deg);
}

/* Creating the Circle */
.cell.circle::before,
.cell.circle::after {
  content: '';
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: black;
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background: black;
}

.cell.circle::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}
