*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 8rem;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 0.1rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Removing Outer Borders */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}
/* Removing Outer Borders */

/* "Not Allowed" Effect Over Hover */
.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}

/* Creating the X and Hover*/
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  position: absolute;
  background-color: black;
}

/* Creating the "X" Shape */
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* Creating the Circle & Hover Effects*/
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(circle):hover::before,
.board.circle .cell:not(.x):not(circle):hover::after {
  content: '';
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: black;
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
board.circle .cell:not(.x):not(circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 0.1rem solid black;
  cursor: pointer;
  margin: 0.25em 0.5em;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}
